<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">   <!the path is starting from inside public folder>
        <title>Tailor Swift</title>
         <link rel="icon" href="/images/taylor.png">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p id="p2">See Taylor Swift's Best Quotes!</p>
             <form>
                
                 <button>Show Another Quote</button>
             </form>

             <p id="p1">{{quote}}</p>
            

            
        </div>
    
       {{>footer}}

               <script src="/js/app.js" ></script>

      

    </body>
</html>